.elementor-573 .elementor-element.elementor-element-8c2257f .eael-data-table thead tr th {
    color: #fff;
    background-color: #5690d9;
}
.elementor-573 .elementor-element.elementor-element-8c2257f .eael-data-table tbody>tr:nth-child(2n) td {
    color: #6d7882;
    background: #f2f2f2;
}